{{>layout/header}}

<div class="container">
  <br/><br/>
  <h2>Out Player 등록하기</h2>
  <hr/>
  <br/>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>no</th>
        <th>TeamName</th>
        <th>Position</th>
        <th>Name</th>
        <th>등록사유</th>
        <th>등록하기</th>
      </tr>
    </thead>
    <tbody>
      {{#playerList}}
      <tr>
        <td>{{No}}</td>
        <td>{{teamName}}</td>
        <td>{{position}}</td>
        <td>{{name}}</td>
        <td><input type="text" id="reason_{{id}}"class="reason form-control" placeholder="등록이유를 입력하세요." value=""></td>
        <td><button id="insert_{{id}}" type="submit" class="btn btn-outline-dark mb-2">등록하기</button></td>
      </tr>
      {{/playerList}}
    </tbody>
  </table>
  
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>no</th>
        <th>teamName</th>
        <th>name</th>
        <th>position</th>
        <th>reason</th>
      </tr>
    </thead>
    <tbody>
      {{#OutPlayerList}}
      <tr>
        <td>{{no}}</td>
        <td>{{teamName}}</td>
        <td>{{position}}</td>
        <td>{{reason}}</td>
      </tr>
      {{/OutPlayerList}}
    </tbody>
  </table>
</div>

<script src="/js/outplayer.js"></script>
</body>
</html>
